numpy==1.24.2
pandas==2.0.3
torch==2.4.0
gin==0.1.006
gin_config==0.5.0
matplotlib==3.9.2
scipy==1.11.1
psutil==6.0.0
func_timeout==4.3.5
fastparquet==2024.5.0
click==8.1.7
cloudpickle==3.0.0
gymnasium==0.29.1
joblib==1.4.2
plotly==5.23.0
scikit-learn==1.5.1
wandb==0.16.3
stable_baselines3==2.3.2
sb3-contrib==2.3.0
tensorboard==2.14.0
imitation==1.0.0
